@use 'src/styles/colors';
@use 'src/styles/texts';
@use 'src/styles/spacing';

.heading {
  color: colors.$medium-text-color;
  font-weight: 600;
  line-height: 1.19em;
  margin: 0;

  &.type_h1 {
    font-size: texts.$biggest-font-size;
  }

  &.type_h2 {
    font-size: texts.$bigger-font-size;
  }

  &.type_h3 {
    font-size: texts.$big-font-size;
  }
}