@use "src/styles/colors";
@use "src/styles/spacing";

.card { 
  background-color: colors.$primary-bg-color;
  border: spacing.$s-0 solid colors.$light-border-color;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 20%);
}