@use 'src/styles/colors';
@use 'src/styles/spacing';

.base-button {
  border: 0;
  padding: spacing.$s-2 spacing.$s-4;
  cursor: pointer;
  border-radius: spacing.$s-1;
  color: colors.$medium-text-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &.primary {
    background-color: colors.$yellow;
  }

  &.outline {
    background-color: transparent;
    border: spacing.$s-1 solid colors.$gray;
  }

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  span {
    display: flex;
    align-items: center;
    margin: 0 spacing.$s-1 0 0;
  }

}