@use "src/styles/spacing";
@use "src/styles/colors";

.tag { 
  border-radius: spacing.$s-2;
  padding: spacing.$s-3 spacing.$s-4;
  color: colors.$white;
  font-weight: 600;

  &.green { 
    background-color: colors.$green;
  }

  &.red { 
    background-color: colors.$danger-color;
  }

  &.yellow { 
    background-color: colors.$yellow;
  }
}