$yellow: rgb(255 221 48);
$gray: rgb(74 74 73);
$light-gray: rgb(240 240 240);
$white: rgba(255 255 255);


// text colors
$medium-text-color: $gray;
$primary-bg-color: $white;
$light-bg-color: $light-gray;
$light-border-color: darken($light-gray, 10%);